* {
  margin: 0;
  padding: 0;
}

div#app {
  width: 100%;
}

@media only screen and (min-width: 0) {
  header {
    width: 100%;
    background-color: #2b2b2b;
    padding: 20px;
    box-sizing: border-box;
    nav {
      width: 100%;
      ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        li {
          width: 100%;
          text-align: center;
          transition: 400ms;
          &:hover {
            background-color: gold;
          }
          a {
            color: white;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 18px;
          }
        }
      }
    }
  }

  .products {
    width: 100%;
    background-color: #2b2b2b;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    .product {
      padding: 20px;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 5px 5px 25px gray;
      background-color: gray;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      h1,
      div.description,
      div.price,
      div.rate,
      div.count {
        text-transform: capitalize;
        color: white;
      }
      img {
        width: 50%;
        border-radius: 10px;
      }
      div.description {
        width: 100%;
      }
      div.rating {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
      }
      a.btn {
        width: fit-content;
        display: block;
        margin: 5px auto;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 5px 5px 25px green;
        transition: 400ms;
        background-color: green;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        &:hover {
          transform: scale(85%);
        }
      }
    }
  }
}



@media only screen and (min-width: 992px) {
    header {
      height: 40px;
      padding: unset;
      nav {
        height: 100%;
        ul {
          height: 100%;
          flex-flow: row nowrap;
          li {
            width: fit-content;
            &:hover{
                background-color: unset;
            }
            a {
              &:hover {
                color: gold;
              }
            }
          }
        }
      }
    }
  
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }